@font-face {
    font-family: "KrinkesDecorPERSONAL";
    src: url("/fonts/krinkes/KrinkesDecorPERSONAL.ttf");
}
.krinkesDecor {
    font-family: "KrinkesDecorPERSONAL";
}

* {
    margin: 0;
    padding: 0;
  }

.container-fluid{
    overflow: hidden;
}

.main-image{
    background-image: url("Images/mainscreenrender.png");
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.translucent{
    background: rgba(255,255,255,.075);
    backdrop-filter: blur(8px);
}

.model{
    height: 100vh;
}

.dynamo{
    background-image: url("Images/model1.png");
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}
.dynamo:hover{
    background-image: url("Images/0160.png");
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}
.lumina{
    background-image: url("Images/model2.png");
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}
.lumina:hover{
    background-image: url("Images/0160(1).png");
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}
.lythi{
    background-image: url("Images/model3.png");
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}
.lythi:hover{
    background-image: url("Images/0160(2).png");
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}