@font-face {
    font-family: "KrinkesDecorPERSONAL";
    src: url("/fonts/krinkes/KrinkesDecorPERSONAL.ttf");
}
.krinkesDecor {
    font-family: "KrinkesDecorPERSONAL";
}

* {
    margin: 0;
    padding: 0;
  }

.container-fluid{
    overflow: hidden;
}

.main-image{
    background-image: url("Images/mainscreenrender.png");
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.translucent{
    background: rgba(255,255,255,.075);
    backdrop-filter: blur(8px);
}

