@font-face {
    font-family: "KrinkesDecorPERSONAL";
    src: url("/fonts/krinkes/KrinkesDecorPERSONAL.ttf");
}
.krinkesDecor {
    font-family: "KrinkesDecorPERSONAL";
}

* {
    margin: 0;
    padding: 0;
  }

.container-fluid{
    overflow: hidden;
}